In [1]:
data = {}

data["tom"] = {
    'name':'tom',
    'address':'1 street red'
}

data["mindy"] = {
    'name':'mindy',
    'address':'1 street blue'
}

In [2]:
import json

In [9]:
s = json.dumps(data)

In [10]:
print(s)

{"tom": {"name": "tom", "address": "1 street red"}, "mindy": {"name": "mindy", "address": "1 street blue"}}

In [15]:
data = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

x = json.dumps(data)

In [28]:
with open('data.txt',mode='w') as file:
    file.write(x)

In [20]:
print(x)

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [29]:
f = open('data.txt',mode='r')
s = f.read()

In [30]:
y = json.loads(s)

In [31]:
print(y)

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ['Ann', 'Billy'], 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}